<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
    <title>Weather | About</title>
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="img/404.gif" alt="image" class="img-fluid" title="image-about">
                        </figure>
                    
                        <p>Welcome to Weather App</p>
                        <h1>{{errormsg}}</h1>
                      <a href="/"><button> Go Back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <{{>footer}}
</body>

</html>