<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
    <title>Weather App | About</title>
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/about.jpg" alt="image" class="img-fluid" title="image-about">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my world</p>
                        <h1>I am a <span class="main_header_text">Full stack developer</span> and computer science student</h1>
                        <!-- <a href="/weather"><button> Check Now</button></a> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <{{>footer}}
</body>

</html>